extends layout

block content
	h2.questionScore
		span
			|	Congrats, Your Final Score is:
			br
			br
			=score
			|	 blips
	br
	br
	form(method="get", action="/")
		p
			input.btn.btn-dark.btn-lg(id = "submit", type = "submit", value = "Play Again")
	